:root {
  --color-primary: #011627;
  --color-secondary: #8b8c8a;
  --color-danger: #e71d36;
  --color-warning: #ff9f1c;
  --color-info: #2ec4b6;
  --color-background: #182b3a;
  --color-white: #fdfffc;
  --color-black: #171817;
  --color-overlay: rgba(253, 255, 252, 0.8);
}

body {
  background-color: var(--color-background);
  color: var(--color-white);
  display: flex;
}

body > div {
  flex-grow: 1;
  margin-top: 65px;
}
